/* Header Top Area Start */
.header-top-wrap {
  background: rgba(43, 43, 53, 0.788);
  padding: 8px 0;
}
.header-top-action ul,
.header-top-right ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.header-top-action ul li {
  font-size: 12px;
  font-weight: 600;
  color: #979da0;
  position: relative;
}
.header-top-action ul li + li::before {
  content: "|";
  display: inline-block;
  padding-left: 13px;
  padding-right: 13px;
  color: #4f4f4f;
}
.header-top-action ul li i {
  margin-right: 8px;
  color: #ff5400;
}
.header-top-action ul li a {
  color: #979da0;
}
.header-top-right ul {
  justify-content: flex-end;
}
.header-top-social a {
  font-size: 14px;
  color: #dddcdc;
  display: inline-block;
  line-height: 1;
}
.header-top-social a + a {
  margin-left: 10px;
}
.header-top-login a {
  font-size: 12px;
  font-weight: 600;
  color: #979da0;
  text-transform: uppercase;
  display: inline-block;
}
.header-top-login a i {
  font-size: 14px;
  margin-right: 7px;
}
.header-top-login a + a::before {
  content: "|";
  display: inline-block;
  color: #4f4f4f;
  padding: 0 8px 0 5px;
}
.header-top-right ul li + li {
  margin-left: 18px;
}
.header-top-right .header-top-user {
  width: auto;
  flex-basis: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.top-user-thumb {
  width: 19px;
  flex: 0 0 19px;
  margin-right: 10px;
}
.top-user-thumb img {
  max-width: 100%;
  border-radius: 3px;
  border: 1px solid #e24d04;
}
.header-top-right .header-top-user > a {
  font-size: 12px;
  font-weight: 600;
  color: #979da0;
  display: inline-block;
}

/* Header Main Area */
.header .navbar-dark .navbar-nav .nav-link {
  color: #fff;
  text-transform: uppercase;
  font-family: "Poppins";
  font-size: 15px;
}
.header .navbar-dark .navbar-nav .active {
  color: #ff5400 !important;
  font-weight: bold;
}
.header .navbar-dark .navbar-nav .dropdown-menu {
  background: #1b1a24;
  width: 200px;
}
@media only screen and (max-width: 768px) {
  .header .text-end {
    text-align: center !important;
  }
}

/* Banner Area Start */
.banner-area {
  background-image: url("images/banner-bg.jpg");
  background-position: center;
  background-size: cover;
  padding: 200px 0;
  position: relative;
  z-index: 1;
}
.banner-area .banner-title {
  position: absolute;
  left: 0;
  right: 0;
  top: 25%;
  text-align: center;
  max-width: 300px;
  margin: 0 auto 0;
  background: #ff5400;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 1.4;
  padding: 7px 40px;
}
.banner-area .banner-title::before {
  content: "";
  position: absolute;
  left: -19px;
  top: 0;
  width: 20px;
  height: 100%;
  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 56% 50%, 0% 0%);
  background: #ff5400;
}
.banner-area .banner-title::after {
  content: "";
  position: absolute;
  right: -19px;
  top: 0;
  width: 20px;
  height: 100%;
  clip-path: polygon(100% 0%, 45% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
  background: #ff5400;
}
.banner-area .banner-content h2 {
  text-transform: uppercase;
  color: #fff;
  font-weight: 800;
  line-height: 0.9;
  letter-spacing: 3px;
  margin-bottom: 12px;
  font-size: 70px;
}
.banner-area .banner-content p {
  color: #f7f7f7;
  font-weight: 500;
  margin-bottom: 30px;
}

/* About Area Start */
.about-bg {
  background-image: url("images/about-bg.jpg");
  background-position: center;
  background-size: cover;
}
.about-img img {
  max-width: 100%;
  box-shadow: 0px 3px 10px 0px rgba(35, 35, 35, 0.3);
  border-radius: 10px;
}
.about-exp > h2 {
  font-size: 170px;
  line-height: 0.8;
  color: #fff;
  letter-spacing: -5px;
  margin-bottom: 0;
  background: url("images/footer-bg.jpg") no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  background-size: cover;
  background-position: top center;
}
.about-exp > h2 span {
  font-size: 120px;
}
.about-exp {
  margin-bottom: 20px;
}
.about-content-wrap {
  padding-left: 50px;
  padding-right: 30px;
}
.about-content-wrap .section-title .title,
.video-area-wrap .section-title .title,
.inner-about-content .section-title .title {
  text-transform: capitalize;
}
.about-content-wrap .content {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
}
.about-content-wrap .content .icon {
  margin-right: 25px;
}
.about-content-wrap .content p {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
  font-style: italic;
  color: #d3d3d3;
}
.about-list ul li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 500;
  color: #d3d3d3;
}
.about-list ul li:last-child {
  margin-bottom: 0;
}
.about-list ul li .icon {
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  background: #373d46;
  border-radius: 50%;
  flex: 0 0 32px;
  margin-right: 15px;
  transition: 0.3s linear;
}
.about-list ul li:hover .icon {
  color: #fff;
  background: #ff5400;
}
.about-content-wrap > .btn {
  padding: 21px 42px;
}
.about-content-wrap > .btn:hover {
  background: #fff;
}
.inner-about-img img {
  max-width: 100%;
  box-shadow: 0px 3px 9px 0px rgba(120, 120, 120, 0.09);
  border-radius: 4px;
  border: 1px solid #ebebeb;
}
.inner-about-content .section-title .line {
  justify-content: flex-start;
  margin-top: 13px;
}
.inner-about-content > p {
  font-size: 14px;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 0;
}
.about-features-item {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  padding-left: 30px;
}
.about-features-item .icon {
  width: 85px;
  height: 85px;
  text-align: center;
  line-height: 85px;
  flex: 0 0 85px;
  font-size: 34px;
  color: #767676;
  border: 1px dashed #ada8a8;
  border-radius: 50%;
  margin-right: 20px;
  transition: 0.3s linear;
}
.about-features-item .content {
  flex-grow: 1;
}
.about-features-item .content h5 {
  font-size: 18px;
  color: #323232;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.about-features-item .content p {
  margin-bottom: 0;
  color: #9c9c9c;
}

/* Latest Cars Area Start */
.section-title {
  position: relative;
  z-index: 1;
}
.section-title .sub-title,
.app-download-title .sub-title {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  display: block;
  letter-spacing: 3px;
  line-height: 1;
  color: #868686;
  margin-bottom: 12px;
}
.section-title .title {
  font-size: 36px;
  text-transform: capitalize;
  margin-bottom: 0;
  color: #323232;
}
.white-title .title {
  color: #fff;
}
.section-title .overlay-title {
  margin-bottom: 0;
  color: #f3f3f3;
  text-transform: capitalize;
  font-size: 87px;
  line-height: 0.8;
  position: absolute;
  bottom: 82%;
  text-align: center;
  right: 0;
  left: 0;
  z-index: -1;
  opacity: 0.4;
}
.latest-cars-wrapper {
  padding: 0 80px;
}
.latest-car-thumb img {
  max-width: 100%;
  border-radius: 2px 2px 0 0;
}
.latest-car-content-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 7px;
  position: relative;
  margin-bottom: 15px;
}
.latest-car-content-top::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 4px;
  border-radius: 0 0 3px 3px;
}
.latest-car-content-top h5 {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 0;
  width: 60%;
  flex: 0 0 60%;
  line-height: 1.2;
}
.latest-car-content-top .price {
  display: block;
  background: #ff5400;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 23px 12px 15px;
  line-height: 1;
  position: relative;
  text-shadow: 0px 2px 6.51px rgba(0, 0, 0, 0.21);
}
.latest-car-content-top .price::before {
  content: "";
  position: absolute;
  left: -14px;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 40px 14px;
  border-color: transparent transparent #ff5500 transparent;
}
.latest-car-content > p {
  font-size: 13px;
  font-weight: 600;
  color: #8b8b8b;
  line-height: 1.2;
  margin-bottom: 0;
}
.latest-car-content > p span {
  color: #323232;
}
.latest-car-meta ul {
  display: flex;
  align-items: center;
  padding-top: 18px;
  border-top: 1px dashed #e1e1e1;
  margin-top: 24px;
  justify-content: space-between;
}
.latest-car-meta ul li {
  font-size: 12px;
  font-weight: 500;
  color: #7e7e7e;
  display: flex;
  align-items: center;
  line-height: 1;
}
.latest-car-meta ul li i {
  margin-right: 8px;
  font-size: 13px;
}
.latest-car-meta ul li:last-child i {
  font-size: 10px;
}
.latest-car-btn .btn {
  padding: 21px 45px;
}
.latest-car-menu-active {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 55px;
}
.latest-car-menu-active button {
  border: 1px solid #e9e9e9;
  font-size: 12px;
  font-weight: 700;
  color: #646161;
  background: #f3f3f3;
  padding: 11px 20px;
  line-height: 1;
  border-radius: 50px;
  margin: 0 6px 10px;
  text-transform: uppercase;
}
.latest-car-menu-active button.active {
  color: #fff;
  background: #ff5400;
  border-color: #ff5400;
}
.gray-lite-bg .latest-cars-wrapper {
  padding: 0;
}
.gray-lite-bg .latest-car-item {
  background: #fff;
  padding: 40px 25px 25px;
  box-shadow: 0px 3px 21px 0px rgba(35, 35, 35, 0.09);
}
.gray-lite-bg .latest-car-content-top h5 {
  font-size: 20px;
}
.gray-lite-bg .latest-car-content-top::after {
  border-radius: 0;
  background-image: url("images/line.png");
  background-color: unset;
  width: 57px;
  height: 5px;
}
.latest-cars-three .latest-cars-wrapper {
  padding: 0;
}
.latest-cars-three .latest-car-item {
  border-radius: 5px;
  box-shadow: 0px 3px 12.09px 0.91px rgba(105, 105, 105, 0.13);
  background: #fff;
  padding-bottom: 13px;
  position: relative;
  overflow: hidden;
}
.latest-cars-three .latest-car-content-wrap {
  padding: 25px 30px 15px 30px;
}
.latest-cars-three .latest-car-content {
  text-align: center;
}
.latest-cars-three .latest-car-content h5 {
  font-size: 18px;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.latest-cars-three .latest-car-content p {
  font-size: 14px;
  font-weight: 500;
  color: #9c9c9c;
}
.latest-cars-three .latest-car-meta ul {
  display: flex;
  align-items: center;
  padding-bottom: 17px;
  border-bottom: 1px dashed #e1e1e1;
  padding-top: 0;
  border-top: none;
  margin-top: 30px;
  margin-bottom: 20px;
  justify-content: space-between;
}
.latest-cars-three .latest-car-bottom ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.latest-cars-three .latest-car-bottom ul li {
  margin-bottom: 10px;
}
.latest-cars-three .latest-car-bottom ul .rating {
  font-size: 12px;
  letter-spacing: -1px;
  color: #f39c12;
}
.latest-cars-three .latest-car-bottom ul li .total {
  font-size: 12px;
  font-weight: 500;
  margin-right: 10px;
  color: #7f7e7e;
}
.latest-cars-three .latest-car-bottom ul li .price {
  font-size: 18px;
  font-weight: 600;
  color: #323232;
}
.latest-cars-three .latest-car-thumb {
  position: relative;
  background: #1b1310;
}
.latest-cars-three .latest-car-thumb > .book-btn {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  padding: 18px 27px;
  font-size: 12px;
  opacity: 0;
  transition: 0.3s linear;
  background-color: #ff5400;
}
.latest-cars-three .latest-car-thumb > .book-btn::before {
  display: none;
}
.latest-cars-three .latest-car-item:hover .latest-car-thumb > .book-btn {
  top: 50%;
  opacity: 1;
}
.latest-cars-three .latest-car-thumb img {
  transition: 0.3s linear;
}
.latest-cars-three .latest-car-item:hover .latest-car-thumb img {
  opacity: 0.7;
}
.latest-cars-three .latest-car-item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 13px;
  background: #ff5400;
  transition: 0.3s linear;
  opacity: 0.18;
}
.latest-cars-three .latest-car-item:hover::before {
  opacity: 1;
}

/* Review Area Start */

.review-bg {
  background: rgba(0, 0, 0, 0.04) url("images/review-bg.jpg") top left repeat;
  background-size: cover;
  width: 100%;
  padding: 100px 0;
}

.review-inner {
  max-width: 600px;
  margin: auto;
}
.review-inner .content-box {
  position: relative;
}

.review-inner .content-box .rating i {
  color: #ff5400;
  margin-bottom: 13px;
}

.review-inner .content-box h3 {
  font-size: 20px;
  font-weight: 500;
}

.review-inner .content-box p {
  margin-bottom: 0;
}

.review-inner .content-box .rating {
  font-size: 15px;
}

.review-inner .content-box .user {
  height: 120px;
  width: 120px;
  left: 0;
  position: absolute;
  top: 30px;
  transition: background-color 0.15s linear;
}

.review-inner .content-box a img {
  bottom: 2px;
  border-radius: 50%;
  display: block;
  height: 120px;
  width: 120px;
  position: absolute;
  top: 20%;
  z-index: 999;
  box-shadow: 1px 2px 3px 0 rgb(0 0 0 / 40%);
}

.review-inner .content-box .review-info {
  margin: 0 0 0 60px;
  padding: 30px 30px 30px 90px;
  background: #fff;
}

.review-inner .content-box .review-info:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.review-inner .content-box .review-info {
  position: relative;
  overflow: hidden;
}

.review-inner .content-box .review-info:before {
  content: "";
  position: absolute;
  top: 0px;
  left: -200px;
  height: 2px;
  width: 200px;
  transition: all 0.3s;
}

.review-inner .content-box .review-info:after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: -200px;
  height: 2px;
  width: 200px;
  transition: all 0.3s;
}

.review-inner .content-box .review-info:hover:before {
  left: 0px;
  right: 0px;
}

.review-inner .content-box .review-info:before {
  background: #ff5400;
}

.review-inner .content-box .review-info:after {
  background: #ff5400;
}
.review-info:hover .rating span {
  color: #ff5400;
}

/* Exclusive-features */
.section-title .line {
  line-height: 1;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.exc-featured-img {
  text-align: center;
}
.exc-featured-img img {
  max-width: 100%;
}
.exclusive-featured-area .row:nth-child(2) [class*="col-"]:first-child {
  text-align: right;
}
.exclusive-featured-area .row:nth-child(2) [class*="col-"]:last-child {
  text-align: left;
}
.exc-featured-item .icon {
  font-size: 36px;
  color: #767676;
  height: 84px;
  width: 84px;
  text-align: center;
  line-height: 84px;
  border: 1px dashed #b7b2b2;
  border-radius: 50%;
  margin-bottom: 17px;
  transition: 0.3s linear;
}
.exclusive-featured-area
  .row:nth-child(2)
  [class*="col-"]:first-child
  .exc-featured-item
  .icon {
  margin-left: auto;
}
.exclusive-featured-area
  .row:nth-child(2)
  [class*="col-"]:first-child
  .exc-featured-item {
  margin-right: -30px;
}
.exclusive-featured-area
  .row:nth-child(2)
  [class*="col-"]:last-child
  .exc-featured-item {
  margin-left: -30px;
}
.exc-featured-item .content h5 {
  font-size: 18px;
  margin-bottom: 9px;
  text-transform: uppercase;
}
.exc-featured-item .content p {
  margin-bottom: 0;
}
.exc-featured-item {
  margin-bottom: 35px;
}
.exc-featured-item:last-child {
  margin-bottom: 0;
}

/* Popular Brand Area Start */
.popular-selling-wrap {
  background: #fff;
  padding: 45px 45px 25px;
}
.popular-selling-items {
  margin-bottom: 25px;
  text-align: center;
}
.popular-selling-items img {
  max-width: 100%;
}
.popular-selling-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
}
.popular-selling-title h4 {
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 20px;
  padding-left: 15px;
  position: relative;
}
.popular-selling-title h4::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
  width: 5px;
}
.see-all-brand a {
  font-size: 12px;
  display: inline-block;
  font-weight: 500;
  color: #666565;
  text-decoration: underline;
}
.popular-selling-ad-banner img {
  max-width: 100%;
  box-shadow: 0px 2px 8.37px 0.63px rgba(154, 154, 154, 0.25);
}
.popular-selling-ad-banner a,
.latest-car-thumb a {
  display: block;
  overflow: hidden;
  position: relative;
}
.popular-selling-ad-banner a::before {
  position: absolute;
  top: 0;
  left: -80%;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: -o-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(255, 42556, 255, 0)),
    to(rgba(255, 255, 255, 0.3))
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  -webkit-transform: skewX(-25deg);
  -ms-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
.popular-selling-ad-banner a:hover::before {
  -webkit-animation: shine 1s;
  animation: shine 1s;
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

/* Footer-brand */
.footer-brand-area {
  background: #f6f6f6;
}
.footer-logo {
  text-align: center;
  padding: 40px 50px;
}
.footer-brand-item {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 61px;
}
.footer-brand-active {
  padding-left: 50px;
}
.footer-brand-item img {
  max-width: 100%;
}

/* Footer */
.footer-bg {
  background: #1b1a24;
}
.footer-widget.black-bg {
  background: rgba(16, 16, 20, 0.78);
  padding: 85px 40px 45px;
  border-radius: 0 0 4px 4px;
}
.fw-title .title {
  color: #fff;
  font-size: 20px;
  margin-bottom: 0;
}
.footer-text p {
  color: #dfdede;
  margin-bottom: 0;
}
.footer-contact ul li {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.footer-contact ul li:last-child {
  margin-bottom: 0;
}
.footer-contact .icon {
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  background: #ff5400;
  border-radius: 3px;
  margin-right: 15px;
  flex: 0 0 44px;
  color: #fff;
}
.footer-contact ul li:nth-child(2) .icon {
  background: #da3031;
}
.footer-contact ul li:nth-child(3) .icon {
  background: #3390bb;
}
.footer-contact .content {
  flex-grow: 1;
}
.footer-contact .content span {
  display: block;
  font-size: 12px;
  color: #c3c3c3;
  text-transform: uppercase;
}
.footer-contact .content p,
.footer-contact .content p a {
  margin-bottom: 0;
  color: #fff;
}
.footer-right-wrap {
  padding: 85px 0 0 80px;
}
.fw-link ul li a {
  font-size: 14px;
  display: inline-block;
  color: #dfdede;
}
.fw-link ul li {
  display: block;
}
.fw-link ul li + li {
  margin-top: 12px;
}
.footer-newsletter form {
  position: relative;
}
.footer-newsletter input {
  width: 100%;
  border: none;
  padding: 18px 80px 18px 25px;
  background: #333236;
  color: #bebebe;
  border-radius: 4px;
  font-size: 13px;
}
.footer-newsletter input::placeholder {
  color: #939191;
  font-size: 13px;
}
.footer-newsletter button {
  position: absolute;
  right: 6px;
  top: 6px;
  bottom: 6px;
  border: none;
  color: #fff;
  font-size: 18px;
  width: 63px;
  padding: 0;
}
.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}
.footer-social ul li {
  display: block;
  margin-right: 13px;
}
.footer-social ul li a {
  width: 44px;
  height: 44px;
  background-color: rgb(59, 89, 152);
  display: block;
  text-align: center;
  line-height: 44px;
  color: #fff;
  font-size: 14px;
  border-radius: 3px;
}
.footer-social ul li:nth-child(2) a {
  background: #55acee;
}
.footer-social ul li:nth-child(3) a {
  background: #d71e18;
}
.footer-social ul li:nth-child(4) a {
  background: #1565c0;
}
.footer-payment-method-wrap {
  background: rgba(16, 16, 20, 0.78);
  border-radius: 4px;
  display: flex;
  align-items: flex-start;
  padding: 38px 35px;
  margin-top: 15px;
}
.footer-payment-method-wrap .content {
  width: 42%;
  flex: 0 0 42%;
}
.footer-payment-method-wrap .content p {
  margin-bottom: 0;
  color: #cbc9c9;
}
.payment-card {
  flex-grow: 1;
  text-align: right;
}
.copyright-text p {
  margin-bottom: 0;
  color: #afafaf;
}
.copyright-area {
  background: rgb(19 19 24 / 75%);
  padding: 20px 0;
  position: relative;
  z-index: 1;
}
.footer-brand-area.white-bg {
  background: #fff;
}

/* scrollUp */
.scroll-top {
  width: 49px;
  height: 49px;
  line-height: 49px;
  font-size: 16px;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  transition: 0.3s ease;
  border: none;
  margin-left: auto;
  display: block;
}
.scroll-top:hover {
  background: #fff;
}

/* Login and Register Area Start */
.login-register-area.gray-lite {
  position: relative;
  z-index: 1;
}
.login-register-area.gray-lite::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50px;
  bottom: 0;
  width: 100%;
  background: #f7f7f7;
  z-index: -1;
}
.login-reg-wrap {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 3px 9px 0px rgba(120, 120, 120, 0.09);
  margin-top: -50px;
}
.login-wrap {
  padding: 75px 45px 75px 65px;
}
.login-reg-wrap .widget-title,
.contact-form-wrap .widget-title {
  font-size: 22px;
  margin-bottom: 40px;
  font-weight: 700;
  text-transform: capitalize;
}
.login-form .form-grp {
  margin-bottom: 35px;
}
.login-form .form-grp label {
  font-size: 14px;
  font-weight: 500;
  color: #6a6a6a;
  margin-bottom: 10px;
}
.login-form .form-grp input {
  width: 100%;
  display: block;
  border: 1px solid #ebebeb;
  background: #f7f7f7;
  border-radius: 3px;
  padding: 13px 20px;
}
.login-form .form-grp input::placeholder,
.contact-form-wrap .login-form .form-grp textarea::placeholder {
  color: #848282;
}
.login-form > .or {
  display: block;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.login-form .action {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 35px;
  margin-top: 4px;
}
.login-form .action li {
  margin-bottom: 10px;
  margin-right: 15px;
  font-weight: 14px;
  font-weight: 500;
  cursor: pointer;
}
.login-form .action li a {
  display: block;
}
.login-form .btn {
  padding: 19px 45px;
}
.login-wrap.reg-wrap {
  padding: 75px 65px 75px 45px;
  background: #f7f7f7;
  background: -webkit-linear-gradient(to right, #f7f7f7, #fff);
  background: linear-gradient(to right, #f7f7f7, #fff);
}
.reg-wrap .login-form .form-grp input {
  background: #fff;
}

/* Contact */
.contact-info-wrap .section-title .title {
  text-transform: capitalize;
}
.contact-info-wrap .section-title .line {
  justify-content: flex-start;
  margin-top: 15px;
}
.contact-info-wrap > p {
  font-size: 14px;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 0;
}
.contact-info-list {
  margin-top: 35px;
}
.contact-info-list li {
  display: flex;
  align-items: center;
}
.contact-info-list li .icon {
  width: 74px;
  height: 74px;
  border: 1px dashed #ada8a8;
  text-align: center;
  line-height: 74px;
  border-radius: 50%;
  font-size: 22px;
  flex: 0 0 74px;
  margin-right: 20px;
  transition: 0.3s linear;
}
.contact-info-list li:hover .icon {
  color: #fff;
  border-color: #ff5400;
}
.contact-info-list li .content {
  flex-grow: 1;
}
.contact-info-list li .content h5 {
  font-size: 16px;
  margin-bottom: 8px;
}
.contact-info-list li .content p {
  margin-bottom: 0;
  font-weight: 500;
  color: #9c9c9c;
}
.contact-info-list li .content p a {
  color: #9c9c9c;
}
.contact-info-list li {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ebebeb;
}
.contact-info-list li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}
.contact-form-wrap .login-wrap {
  background: #f3f3f3;
  margin-left: 80px;
  padding: 65px 60px 80px;
  margin-bottom: -65px;
}
.contact-form-wrap .login-form .form-grp input,
.contact-form-wrap .login-form .form-grp textarea {
  width: 100%;
  display: block;
  border: 1px solid #ebebeb;
  background: #fff;
  border-radius: 3px;
  padding: 13px 20px;
}
.contact-form-wrap .login-form .form-grp textarea {
  min-height: 144px;
  max-height: 144px;
}
.contact-form-wrap .login-form .form-grp {
  margin-bottom: 25px;
}

/* Inventory */
.inventory-top-meta > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inventory-top-meta > ul li.find {
  font-size: 20px;
  font-weight: 600;
  color: #323232;
}
.inventory-top-meta > ul li.filter {
  display: flex;
  align-items: center;
}
.inventory-top-meta > ul li.filter a {
  display: block;
  width: 55px;
  height: 50px;
  text-align: center;
  background: #fff;
  line-height: 50px;
  border: 1px solid #e1e1e1;
  font-size: 15px;
  color: #7e7e7e;
}
.inventory-top-meta > ul li.filter a + a {
  margin-left: 15px;
}
.inventory-short-meta {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.inventory-short-meta label {
  font-size: 14px;
  font-weight: 500;
  color: #6a6a6a;
  margin-bottom: 0;
}
.inventory-short-meta .nice-select {
  width: 250px;
  flex: 0 0 250px;
  background: #fff;
  border: 1px solid #e1e1e1;
  padding: 17px 40px 17px 20px;
  color: #848282;
  margin-left: 15px;
  font-weight: 400;
}
.inventory-short-meta .nice-select::after {
  border-bottom: 2px solid #848282;
  border-right: 2px solid #848282;
  margin-top: -4px;
}
.inventory-list-item {
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 3px 9px 0px rgba(120, 120, 120, 0.09);
  margin-bottom: 35px;
  padding: 18px 30px 18px 18px;
}
.inventory-list-thumb {
  width: 291px;
  flex: 0 0 291px;
  margin-right: 30px;
  position: relative;
}
.inventory-list-thumb img {
  max-width: 100%;
}
.inventory-list-thumb::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  transition: 0.3s linear;
  opacity: 0;
}
.inventory-list-item:hover .inventory-list-thumb::before {
  opacity: 0.61;
}
.inv-thumb-meta {
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  min-width: 80%;
  margin-top: 20px;
  opacity: 0;
  transition: 0.3s linear;
}
.inventory-list-item:hover .inv-thumb-meta {
  margin-top: 0px;
  opacity: 1;
}
.inv-thumb-meta li {
  margin: 0 5px;
}
.inv-thumb-meta li a {
  width: 35px;
  height: 35px;
  display: block;
  text-align: center;
  line-height: 35px;
  background: #ff5400;
  border-radius: 50%;
  color: #fff;
  font-size: 14px;
}
.inv-thumb-meta li a:hover {
  background: #fff;
  color: #ff5400;
}
.tooltip .tooltip-inner {
  background-color: #ff5400 !important;
  opacity: 1;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  width: 100%;
  font-family: "Poppins", sans-serif;
  border-radius: 3px;
  padding: 9px 15px;
  line-height: 1;
}
.tooltip .arrow:before {
  border-bottom-color: #ff5400;
}
.tooltip .arrow:before {
  border-top-color: #ff5400;
}
.bs-tooltip-top {
  padding-bottom: 15px;
}
.tooltip.show {
  opacity: 1;
}
.bs-tooltip-top .arrow {
  bottom: 10px;
}
.inventory-list-content {
  flex-grow: 1;
}
.inv-content-top ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.inv-content-top .option {
  display: flex;
  width: 60%;
  flex: 0 0 60%;
}
.inv-content-top .option a,
.fv-top-tag ul li a,
.inv-details-meta .tag a {
  display: block;
  font-size: 12px;
  font-weight: 600;
  background: #3c3c45;
  border-radius: 4px;
  padding: 9px 13px;
  line-height: 1;
  color: #fff;
}
.inv-content-top .option a + a,
.fv-top-tag ul li + li {
  margin-left: 12px;
}
.inv-content-top .price {
  font-size: 20px;
  font-weight: 600;
  color: #323232;
}
.inv-content-top .price span {
  font-size: 14px;
  color: #5f5e5e;
}
.inventory-list-content h6 {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 9px;
}
.inventory-list-content h4 {
  font-size: 20px;
  font-weight: 600;
  color: #323232;
  margin-bottom: 9px;
}
.inventory-list-content .location {
  display: flex;
  margin-bottom: 0;
  font-weight: 500;
  color: #6a6a6a;
}
.inventory-list-content .location i {
  margin-right: 7px;
  margin-top: 6px;
}
.inv-item-meta ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 20px;
  border-top: 1px solid #e9e9ea;
  margin-top: 30px;
}
.inv-item-meta ul li + li {
  font-size: 14px;
  font-weight: 500;
  position: relative;
  padding-right: 18px;
  margin-right: 18px;
}
.inv-item-meta ul li + li::before {
  content: "";
  position: absolute;
  right: -3px;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  background: #ffdbc9;
  border-radius: 50%;
}
.inv-item-meta ul li:last-child {
  padding-right: 0;
  margin-right: 0;
}
.inv-item-meta ul li:last-child::before {
  display: none;
}
.inv-item-meta ul li.call {
  margin-right: 22px;
}
.inv-item-meta ul li.call a {
  display: block;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  padding: 0 10px 0 0;
  border-radius: 4px;
}
.inv-item-meta ul li.call a i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #d64f0f;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  margin-right: 10px;
}
.inventory-sidebar {
  margin-left: 25px;
}
.inventory-widget {
  background: #fff;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  padding: 40px 25px;
  margin-bottom: 30px;
}
.inventory-widget:last-child {
  margin-bottom: 0;
}
.inv-widget-title .title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0;
}
.inv-widget-title .title::after {
  content: "";
  display: block;
  background-image: url("images/line.png");
  width: 57px;
  height: 5px;
  margin-top: 9px;
}
.sidebar-find-car .form-grp {
  position: relative;
  margin-bottom: 12px;
}
.sidebar-find-car .form-grp input,
.sidebar-find-car .form-grp > .selected {
  width: 100%;
  border: 1px solid #e1e1e1;
  border-radius: 6px;
  font-size: 14px;
  padding: 12px 20px 12px 40px;
  color: #818080;
}
.sidebar-find-car .form-grp input::placeholder {
  color: #818080;
  font-size: 14px;
}
.sidebar-find-car .form-grp.search-box input {
  padding: 12px 70px 12px 20px;
}
.sidebar-find-car .form-grp.search-box button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: #ff5400;
  color: #fff;
  width: 47px;
  height: 50px;
  border-radius: 6px;
  padding: 0;
}
.sidebar-find-car .form-grp > i {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  line-height: 1;
  color: #818080;
}
.sidebar-find-car .form-grp > .selected {
  padding: 17px 35px 17px 40px;
  font-weight: 400;
}
.sidebar-find-car .form-grp > .selected.nice-select::after {
  border-bottom: 1.8px solid #818080;
  border-right: 1.8px solid #818080;
  right: 18px;
}
.sidebar-find-car .row {
  margin-left: -6px;
  margin-right: -6px;
}
.sidebar-find-car .row [class*="col-"] {
  padding-left: 6px;
  padding-right: 6px;
}
.sidebar-find-car .btn {
  text-transform: capitalize;
  font-weight: 600;
  padding: 18px 40px;
  width: 100%;
  margin-top: 4px;
}
.sidebar-fv-active .sidebar-fv-item {
  min-height: 233px;
  background-position: center;
  background-size: cover;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 25px 25px;
  z-index: 1;
}
.sidebar-fv-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #3f3f4a;
  opacity: 0.77;
  z-index: -1;
}
.fv-top-tag ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.sidebar-fv-content h5 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 9px;
}
.sidebar-fv-content h5 span {
  font-size: 14px;
  font-weight: 600;
}
.sidebar-fv-content p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 600;
}
.sidebar-fv-content p a {
  color: #fff;
}
.sidebar-fv-active .slick-arrow {
  position: absolute;
  top: 50%;
  left: 20px;
  z-index: 1;
  background: transparent;
  border: none;
  padding: 5px;
  line-height: 1;
  transform: translateY(-50%);
  color: #fff;
  transition: 0.3s linear;
}
.sidebar-fv-active .slick-next {
  left: auto;
  right: 20px;
}
.sidebar-loan-calculator {
  margin-top: 30px;
}
.sidebar-loan-calculator > a {
  border: 1px solid #e1e1e1;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  text-align: center;
  display: flex;
  align-items: center;
}
.sidebar-loan-calculator > a span {
  display: block;
  text-align: center;
  flex-grow: 1;
  padding: 10px 20px;
}
.sidebar-loan-calculator > a i {
  width: 58px;
  min-height: 55px;
  line-height: 55px;
  text-align: center;
  border-right: 1px solid #e1e1e1;
  font-size: 14px;
  flex: 0 0 58px;
}
.sidebar-loan-calculator > a:hover {
  color: #fff;
  border-color: #ff5400;
}
.advisor-wrap {
  display: flex;
  align-items: center;
}
.advisor-thumb {
  width: 84px;
  flex: 0 0 84px;
  margin-right: 20px;
}
.advisor-thumb img {
  max-width: 100%;
  border-radius: 50%;
}
.advisor-info h5 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 4px;
  color: #2b2b35;
}
.advisor-info .phone a {
  font-size: 14px;
  color: #6e6e76;
}
.advisor-info .phone a i {
  margin-right: 5px;
}
.advisor-info .phone {
  margin-bottom: 6px;
}
.advisor-form input,
.advisor-form textarea {
  width: 100%;
  margin-bottom: 13px;
  border: 1px solid #e1e1e1;
  padding: 10px 20px 10px;
  font-size: 14px;
  color: #6e6e76;
  border-radius: 4px;
}
.advisor-form input::placeholder,
.advisor-form textarea::placeholder {
  font-size: 14px;
  color: #6e6e76;
}
.advisor-form textarea {
  max-height: 122px;
  min-height: 122px;
}
.advisor-form button {
  width: 100%;
  padding: 20px 30px;
}
.inventory-list-item:last-child {
  margin-bottom: 0;
}
.inventory-details-breadcrumb {
  padding: 105px 0 45px;
}
.inv-details-slide-item {
  position: relative;
}
.inv-details-slide-item img {
  max-width: 100%;
}
.inv-details-slide-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #ff5400;
  transition: 0.3s linear;
  opacity: 0;
}
.inv-details-slide-item:hover::before {
  opacity: 0.57;
}
.inventory-details-slide .no-gutters [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}
.inv-details-meta-wrap {
  padding: 23px 0;
  box-shadow: 0px 3px 9px 0px rgba(120, 120, 120, 0.09);
  position: relative;
  z-index: 1;
}
.inv-details-meta .price-top {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.inv-details-meta .price-top .price {
  font-size: 22px;
  font-weight: 700;
  color: #3c3c45;
  margin-right: 30px;
}
.inv-details-meta .price-top .price span {
  font-size: 14px;
  color: #5f5e5e;
}
.inv-details-meta .location p {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0;
}
.inv-details-meta .location p i {
  margin-right: 5px;
}
.inv-details-meta-right ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.inv-details-meta-right ul li + li {
  margin-left: 10px;
}
.inv-details-meta-right ul li a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #e8e8e8;
  text-align: center;
  border-radius: 4px;
  font-size: 16px;
  color: #918e8e;
}
.inventory-features,
.inventory-details-description,
.inventory-details-location,
.inventory-review-wrap,
.inventory-review-form {
  background: #fff;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  padding: 35px 42px;
}
.inv-details-title {
  padding-bottom: 15px;
  border-bottom: 1px solid #e5e5e6;
  margin-bottom: 25px;
}
.inv-details-title h5 {
  font-size: 18px;
  font-weight: 600;
  color: #2b2b35;
  margin-bottom: 0;
}
.inventory-features-item {
  margin-bottom: 27px;
}
.inventory-features-item h6 {
  font-size: 16px;
  font-weight: 600;
  color: #2b2b35;
  margin-bottom: 9px;
  opacity: 0.84;
}
.inventory-features-item > span {
  display: block;
  line-height: 1.4;
}
.inventory-details-description p > span {
  font-weight: 600;
  color: #4f4f50;
}
.vehicle-history {
  margin-top: 35px;
  margin-bottom: 45px;
}
.vehicle-history > h5 {
  font-size: 18px;
  font-weight: 600;
  color: #2b2b35;
  margin-bottom: 19px;
}
.inv-details-img > .row {
  margin-right: -10px;
  margin-left: -10px;
}
.inv-details-img > .row [class*="col-"] {
  padding-right: 10px;
  padding-left: 10px;
}
.inv-details-img img {
  max-width: 100%;
  margin-bottom: 20px;
}
.inv-details-img {
  margin-bottom: 20px;
}
.inv-details-list {
  margin-top: 33px;
  margin-bottom: 31px;
}
.inv-details-list ul li {
  font-size: 14px;
  font-weight: 500;
  padding-left: 15px;
  margin-bottom: 10px;
  color: #434243;
  position: relative;
}
.inv-details-list ul li::before {
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  left: 0;
  top: 10px;
  background: #787777;
  border-radius: 50%;
}
.inventory-details-description {
  padding-bottom: 45px;
}
.inventory-details-location .inv-details-title,
.inventory-review-wrap .inv-details-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.inv-details-title .location i {
  margin-left: 8px;
}
.inv-details-title .location {
  margin-bottom: 0;
  display: flex;
  width: 50%;
  flex: 0 0 50%;
  justify-content: flex-end;
  font-weight: 500;
}
.inv-details-map img {
  max-width: 100%;
}
.inv-details-title .review-top-left {
  display: flex;
  width: 60%;
  flex-basis: 60%;
  align-items: center;
}
.review-top-left .review {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
}
.review-top-left .rating {
  letter-spacing: -1px;
  margin-left: 20px;
  margin-right: 7px;
}
.review-top-left .rating i {
  font-size: 10px;
}
.review-top-left .rating i:last-child {
  color: #dfdbdb;
}
.inv-details-title .write-review {
  font-weight: 500;
  margin-bottom: 0;
}
.inventory-review-wrap .inv-details-title {
  margin-bottom: 40px;
}
.blog-comment ul li {
  display: block;
  padding-bottom: 30px;
  border-bottom: 1px solid #e5e5e6;
  overflow: hidden;
  margin-bottom: 35px;
}
.blog-comment ul li .single-comment {
  display: flex;
  align-items: flex-start;
}
.blog-comment ul li:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}
.comment-avatar-img {
  margin-right: 22px;
  width: 91px;
  flex: 0 0 91px;
}
.comment-avatar-img img {
  border-radius: 50%;
}
.comment-avatar-info {
  margin-bottom: 15px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.comment-avatar-info .left {
  width: 70%;
  flex: 0 0 70%;
}
.comment-avatar-info h5 {
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 600;
}
.comment-avatar-info h5 span {
  font-size: 12px;
  color: #7d7d7d;
  margin-left: 10px;
  font-weight: 500;
}
.comment-avatar-info .rating {
  font-size: 10px;
  line-height: 1;
  letter-spacing: -1px;
  margin-top: 11px;
}
.comment-reply-link {
  color: #343434;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
}
.comment-text p {
  margin-bottom: 0;
  padding-right: 70px;
  color: #7f7f7f;
}
.blog-comment ul li.comment-reply {
  margin-left: 80px;
}
.blog-comment ul li:last-child {
  margin-bottom: 0;
}
.inventory-review-wrap {
  padding-bottom: 60px;
}
.review-form-wrap > span {
  display: block;
  margin-bottom: 10px;
}
.review-form-wrap .rating {
  line-height: 1;
  font-size: 12px;
  letter-spacing: -1px;
}
.review-form-wrap .rating i:last-child {
  color: #dfdbdb;
}
.review-form-wrap form input,
.review-form-wrap form textarea {
  width: 100%;
  border: none;
  background: #ececed;
  border-radius: 4px;
  padding: 10px 20px;
  color: #8b8b8f;
  margin-bottom: 15px;
}
.review-form-wrap form textarea {
  max-height: 140px;
  min-height: 140px;
}
.review-form-wrap form input::placeholder,
.review-form-wrap form textarea::placeholder {
  color: #8b8b8f;
}
.review-form-wrap form {
  margin-top: 35px;
}
.review-form-wrap form .btn {
  text-transform: capitalize;
  font-weight: 600;
  padding: 16px 31px;
}
.inventory-review-form {
  padding-bottom: 55px;
}

/* Author-profile */
.author-profile-wrap {
  background: #fff;
  border: 1px solid #ebebeb;
  border-radius: 6px;
  text-align: center;
  margin-top: -240px;
  margin-right: 30px;
  padding: 40px 35px 0;
  overflow: hidden;
  box-shadow: 0px 3px 9px 0px rgba(120, 120, 120, 0.09);
}
.author-profile-thumb img {
  border-radius: 50%;
  box-shadow: 0px 3px 9px 0px rgba(74, 74, 74, 0.26);
}
.author-profile-thumb {
  padding-bottom: 15px;
  margin-bottom: 22px;
  position: relative;
  z-index: 1;
}
.author-profile-thumb::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 13px 0 13px;
  border-color: #ff5400 transparent transparent transparent;
  margin: 0 auto;
  z-index: -11;
}
.author-profile-wrap .name {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 3px;
}
.author-profile-wrap .des {
  display: block;
  font-weight: 500;
}
.author-profile-wrap .location {
  margin-top: 40px;
  padding-bottom: 18px;
  border-bottom: 1px solid #ebebeb;
}
.author-profile-wrap .location p {
  margin-bottom: 0;
  font-weight: 500;
}
.author-profile-wrap .location p i {
  margin-right: 10px;
}
.author-profile-list {
  text-align: left;
  margin-top: 35px;
  margin-bottom: 60px;
}
.author-profile-list ul li {
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}
.author-profile-list ul li:last-child {
  margin-bottom: 0;
}
.author-profile-list ul li i {
  margin-right: 10px;
  transition: 0.3s linear;
}
.author-profile-list ul li span {
  margin-left: auto;
  transition: 0.3s linear;
}
.author-profile-btn .btn {
  font-size: 12px;
  text-transform: capitalize;
  font-weight: 600;
  border-radius: 50px;
  padding: 12px 41px;
  margin: 0 5px 10px;
}
.author-profile-btn .btn.black {
  background: #3c3c45;
}
.author-profile-btn {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 15px;
  margin-bottom: 35px;
}
.author-contact-info {
  text-align: left;
  margin-bottom: 45px;
}
.author-contact-info p {
  font-weight: 500;
  margin-bottom: 20px;
}
.author-contact-info ul li {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  font-size: 14px;
}
.author-contact-info ul li:last-child {
  margin-bottom: 0;
}
.author-contact-info ul li i {
  margin-right: 10px;
}
.author-contact-info ul li a {
  color: #6e6e76;
}
.author-profile-social ul {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fbfbfb;
  padding: 18px 0;
  margin-left: calc(50% - 49vw - 11px);
  margin-right: calc(50% - 49vw - 11px);
}
.author-profile-social ul li {
  position: relative;
}
.author-profile-social ul li + li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 25px;
  width: 1px;
  background: #d9d9d9;
}
.author-profile-social ul li a {
  display: block;
  color: #6a6a6a;
  padding: 5px 14px;
  line-height: 1;
}

/* Media Queries */

@media screen and (max-width: 767px) {
  .banner-area .banner-content h2 {
    font-size: 50px;
    line-height: 60px;
  }
  .banner-area .banner-title {
    top: 20%;
  }
  .about-img {
    margin-bottom: 20px;
  }
  .exclusive-featured-area
    .row:nth-child(2)
    [class*="col-"]:first-child
    .exc-featured-item {
    margin-right: 0;
    text-align: center;
  }
  .exclusive-featured-area
    .row:nth-child(2)
    [class*="col-"]:last-child
    .exc-featured-item {
    margin-left: 0;
    text-align: center;
  }
  .exclusive-featured-area
    .row:nth-child(2)
    [class*="col-"]:first-child
    .exc-featured-item
    .icon {
    margin: 10px auto;
  }
  .exc-featured-item {
    text-align: center;
  }
  .exclusive-featured-area
    .row:nth-child(2)
    [class*="col-"]:last-child
    .exc-featured-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .slick-list {
    margin: 0 -7px !important;
  }

  .slick-slide > div {
    padding: 0 7px !important;
  }
  .footer-right-wrap {
    padding: 10px 0 0 10px;
  }
  .footer-payment-method-wrap .content {
    width: 100%;
    flex: 0 0 100%;
  }
  .copyright-text .f-right {
    float: none !important;
    text-align: center;
  }
  .login-wrap {
    padding: 20px;
  }
  .login-form .action {
    flex-direction: column;
  }
  .review-bg .col {
    width: 100%;
  }
  .contact-form-wrap .login-wrap {
    margin: 20px 0;
    padding: 20px;
  }
}
